/*CSS PÁGINA INDEX*/

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/*CUERPO*/

body{
    background: linear-gradient(10deg, rgb(30, 2, 1),black );
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*Caja que hace referencia a todo*/

#caja{
    width: 100%;
    margin: 0px auto;
}

/*ENCABEZADO*/

header{
    display: flex;
    background: black;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: left;
    line-height: 100px;
    color: white;
    position:fixed;
    text-decoration: none;
    z-index: 150;
    border-bottom: 1px solid #FF6923; 
}

/* BOTONES ENCABEZADO */

/* Log In */

.boton1{  
    width: 10%;
    font-size:90%;
    margin: 10px 10px 10px auto;
    line-height: 80px;
    padding: 1mm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.2s;
    text-decoration: none;
    color: orange;
    text-align: center;
    border-radius:0.5em;
    border-bottom: 1px solid #FF6923; 
}

.boton1:hover {
    background-color: rgb(255, 105, 35);
    color: white;
    transform: scale(1.01);
}

/* Register */

.boton2{   
    width: 10%;
    font-size: 90%;
    line-height: 80px;
    margin: 10px 10px 10px 10px;
    padding: 1mm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.2s;
    text-decoration: none;
    color: orange;
    text-align: center;
    border-radius:0.5em; 
    border-bottom: 1px solid #FF6923;   
}

.boton2:hover {
    background-color: rgb(255, 105, 35);
    color: #eee;
    transform: scale(1.01);
}

/*COLUMNA IZQUIERDA*/

aside{    
    height: 100%;
    width: 25%;
    border-right: 1px solid orange;
    background: rgb(42, 22, 12);
    position: fixed;
    top: 101px; 
}

h1{
    color:orange;
}



/*LISTA BOTONES COLUMNA IZQUIERDA*/

nav ul {
    list-style: none;
    font-size: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10%;
    position: static;
    font-size: 90%;
    align-items: center;
}

/*ICONOS*/

nav ul li a{
    text-decoration: none;
    top:auto;
    color:bisque;
    display:flex;
    align-items: center;
    gap: 30px;
    padding: 20px 10px 20px 30px ;  
}

/*Casita*/

.icono1 {

    border-top: 1px solid #EDBB99;
    border-bottom: 1px solid #EDBB99;
    
}

.icono1:hover {
    background-color: #F18451;
    color: #eee;
    transform: scale(1.001);
}

/*Radar*/

.icono2:hover {
    background-color: #F18451;
    color: #eee;
    transform: scale(1.001);
}

/*Artistas*/

.icono3 {
    border-top: 1px solid #EDBB99;
    border-bottom: 1px solid #EDBB99;   
}

.icono3:hover {
    background-color: #F18451;
    color: #eee;
    transform: scale(1.001);
}

/*Ajustes*/

.icono4 {
    border-bottom: 1px solid #EDBB99;  
}

.icono4:hover {
    background-color: #F18451;
    color: #eee;
    transform: scale(1.001);
}

/*POLITICA Y COOKEIS*/

.linksextra{
    margin-top: 40%;
}

/*Politica*/

.politica {
    border-top: 1px solid #EDBB99;
    border-bottom: 1px solid #EDBB99;    
}

.politica:hover {
    background-color: #F18451;
    color: #eee;
    transform: scale(1.001);
}

/*Cookies*/

.cookies {
    border-bottom: 1px solid #EDBB99;    
}

.cookies:hover {
    background-color: #F18451;
    color: #eee;
    transform: scale(1.001);
}

/*COLUMNA CENTRAL*/

#contenido{ 
    float: right;
    height: 100%;
    width: 75%;
    background:rgb(30, 2, 1);
    overflow: auto;
    display: block;
    margin: 50px 0px 50px 0px;
}

.columna-derecha {
    margin-left: 3%;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 13vw 13vw 13vw 13vw 13vw;
    grid-gap: 8px 8px;
    padding: 1%;
    vertical-align: middle;
}

/*CADA FILA*/

.columna-derecha div {
   text-align: center;
   font-size: 60%;
   position: relative;
   color:bisque;
   margin-bottom: 10%;
}

/*Texto Top 5 mundial*/

.central1{
    font-size: 130%;
    color:orange;
    margin: 0% 0% 4% 5%;
    display:grid;
}

/*Resto de textos*/

.central{
    font-size: 130%;
    margin: 0% 0% 4% 5%;
    display:grid;
    color:orange;
    padding-top: 4%;
}

/*Imagenes música*/

#contenido img{ 
    margin-bottom: 10px;
    width: 80%;
    border-radius:0.5em;
    border:1px solid #FF6923;
}

.Cancion:hover{
    transform: scale(1.12);
    color:orange;
}
/*Audios música*/

audio{
    position:absolute;
    width:80%;
    height: 20px; 
    padding-top: 65%;
    bottom:0;
    z-index:100;
    left: 0;
    margin-left: 10%;
    margin-bottom: 45px;
    display: inline;
    opacity: 0;    
}

audio:hover {
    opacity: 1;

}

/*Texto de cada música*/

.texto{
    vertical-align: center;
    font-size: 130%;
 }

 /*PIE DE PÁGINA*/

footer{
    background: black;
    color: orange;
    text-align: center;
    height: 50px;
    width: 100%;
    line-height: 50px;
    position:fixed;
    bottom: 0px;
    z-index: 100;
    font-size: 90%;
    border-top: 1px solid #FF6923; 
}

/****************/
/*VISTA DE MOVIL*/
/****************/

@media (max-width: 600px){
    
    /*ENCABEZADO*/

    header{
        font-size: 70%;
    }

    .MusicOn{
        font-size: 0;
    }

    .boton1{  
        width: 20%;
        font-size:140%;
        margin: 10px 10px 10px auto;
        line-height: 80px;
        padding: 1mm;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        transition: 0.2s;
        text-decoration: none;
        color: orange;
        text-align: center;
        border-radius:0.5em;
        border-bottom: 1px solid #FF6923; 
    }
    
    .boton1:hover {
        background-color: rgb(255, 105, 35);
        color: white;
        transform: scale(1.01);
    }
    
    /* Register */
    
    .boton2{   
        width: 20%;
        font-size: 140%;
        line-height: 80px;
        margin: 10px 10px 10px 10px;
        padding: 1mm;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        transition: 0.2s;
        text-decoration: none;
        color: orange;
        text-align: center;
        border-radius:0.5em; 
        border-bottom: 1px solid #FF6923;   
    }
    
    .boton2:hover {
        background-color: rgb(255, 105, 35);
        color: #eee;
        transform: scale(1.01);
    }

    /*LISTA BOTONES COLUMNA IZQUIERDA*/

    nav ul li a{
        font-size: 0%;
        height: fit-content;
        padding-left: 40%;
        overflow: hidden;
    }

    /*POLÍTICA Y COOKIES*/

    .linksextra{
        margin-top: 50%;
    }

    /*Política*/

    .politica {

        font-size: 100%;
        padding-left: 15%;
    }
    
    /*Cookies*/
    
    .cookies {
        font-size: 100%;
        padding-left: 15%;       
    }
    
    /*COLUMNA CENTRAL*/

    .columna-derecha{
        grid-template-columns: 65vw;
        height: 100%;
    }

    /*CADA FILA*/

    .columna-derecha div {
        margin-bottom: 15%;
        margin-left: 9%;
     }

     /*Texto Top 5 mundial*/

     .central1{
        margin-top: 15%;
        margin-bottom: 10%;
        text-align: center;
    }

    /*Resto de textos*/

    .central{
        margin-top: 10%;
        margin-bottom: 10%;
        text-align: center;
    }

    /*Audio*/

    audio{
        height: 50px; 
        margin-left: 10%;
        margin-bottom: 35px;
    }

    /*PIÉ DE PÁGINA*/

    footer{
        font-size: 60%;
    }
}

/*****************/
/*VISTA DE TABLET*/
/*****************/

@media (min-width: 600px) and (max-width: 768px){

    /*COLUMNA IZQUIERDA*/

    /*Iconos*/

    nav ul li a{
        font-size: 70%;
        height: fit-content;
        padding-left: 10%;
        overflow: hidden;
    }

    .linksextra{
        margin-top: 50%;
        margin-right: 50%;
    }

    /*COLUMNA CENTRAL*/

    .columna-derecha{
        grid-template-columns: 32vw 32vw;
        grid-gap: 15px 15px;
        height: 100%;
    }

    .columna-derecha div{
        margin-bottom: 15%;
        margin-left: 10%;
 
    }

    .central1{
        font-size: 130%;
        margin-bottom: 8%;
        margin-top: 10%;
        text-align: center;
    }

    .central{
        font-size: 130%;
        margin-bottom: 8%;
        margin-top: 5%;
        text-align: center;
    }

    audio{
        height: 50px; 
        padding-top: 55%;
        margin-bottom: 35px;        
    }
    
    footer{
        
        font-size: 85%;
    }   
}
